<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tooplate's Purple Fashion</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/slick.css"/>

    <link href="assets/css/tooplate-little-fashion.css" rel="stylesheet">

</head>
<body>

<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

<!-- error block -->
<section class="site-header section-padding-img site-header-image">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 header-info">
                <h3>
                    <span th:text="${errormsg1}" class="d-block text-dark "></span>
                    <span th:text="${errormsg2}" class="d-block text-primary"></span>
                </h3>
            </div>
        </div>
    </div>

    <img src="assets/images/header/errorImg.jpg" class="header-image img-fluid" alt="">
</section>
<!-- //error block -->

<!-- footer block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer block -->
<!-- JAVASCRIPT FILES -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/Headroom.js"></script>
<script src="assets/js/jQuery.headroom.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/custom.js"></script>

</body>

</html>